*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:rgb(5, 5, 5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: ;


}

nav{
    width: 100%;
    height: 60px;
   
}

.fullscreen-link{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;

 

}

.fullscreen-link a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0 2.5em;
    text-shadow: 3px 4px 5px  rgb(187, 42, 42);
}

.logo{
    margin-right:auto ;
}

.nav-link a:hover{
    color: rgba(143, 93, 93, 1);
    
}

/* mobile should follow but later */


section{
    margin: 8em;
}

#greetings{
    font-size: 2em;
}

#profession{
    font-size: 4em;
    font-weight: 600;
    text-shadow: 3px 2px 3px rgba(245, 39, 78, 0.78);
    margin-bottom: 0.6em;
}

span{
    color: red;
    text-shadow: 4px 2px 3px rgba(208, 219, 226, 0.68);

}

.text-body{
    max-width: 60%;
    font-size: 1.2em;
}

.my-btns{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;

}

.my-btns button{
    padding: 0.5em 2.05em ;
    vertical-align: center;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 5px;


}
.size-6{
    width: 2em;

}