*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
    font-size: 1em;
    background-image: url(homeimg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-decoration: none;
}

div{
    width:50%;
    margin-left:2em ;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 3em;
    background: linear-gradient(to right,rgb(155, 94, 124), rgb(85, 170, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 2.6em;

}
span{
    font-style: italic;
    font-size: 0.85em;
    font-weight: bold;

}

#mywriteup{
    margin-top: 2em;
    font-weight: 700;
    font-style: italic;
}

h2{
    font-size: 2em;
    background: linear-gradient(to bottom,rgb(155, 94, 124), rgb(182, 200, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

p{
    font-weight: 700;
    font-style: italic;

}

ul{
list-style: none;
padding-bottom:1em;
}

hr{
    color: red;
}

