*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(118, 209, 118);
}
.container{
    width: 800px;
    height: 100vh;
    background-color: red;
    margin: 0 auto;
    border: 5px solid white;
    background-image: url(field.jpg);
    background-size: cover;
}

.ball{
    width:50px;
    height: 50px;
    background:radial-gradient(closest-side at 60% 55%,white,black);
    border-radius: 50px;
    margin: 30% auto;
    animation-name: play;
    animation-duration: 10s;
    /* animation-timing-function: ease-in; */
    animation-iteration-count: infinite;
    /* animation-direction: alternate-reverse; */
    animation-delay: 1s;
    /* animation-fill-mode: forwards; */
     

    
}

@keyframes play{
    0%{

     
    }
    50%{
       
        
    }
    
    100%{
        transform: translateY(-500px);
       
    }
}

